/* Write your CSS here */

.link {
  text-decoration: none;
  width: 45%;
}
.team-card {
  background-color: #ffffff33;
  border: 1px solid #ffffff;
  border-radius: 10px;
  display: flex;
  align-items: center;
  padding: 5px 10px 5px 10px;
  margin: 20px;
  min-height: 100px;
}
@media screen and (min-width: 768px) {
  .team-card {
    padding: 20px 30px 20px 30px;
    min-height: 150px;
  }
}

@media screen and (max-width: 500px) {
  .team-card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    min-height: 150px;
  }
}
.team-logo {
  width: 70px;
  margin-right: 20px;
  margin-left: 10px;
}
@media screen and (min-width: 768px) {
  .team-logo {
    width: 90px;
  }
}
.team-name {
  font-family: 'Bree Serif';
  font-size: 24px;
  font-weight: 600;
  color: #ffffff;
  text-align: center;
}
@media screen and (min-width: 768px) {
  .team-name {
    font-size: 32px;
  }
}
